### Практическое задание к лекции 8

Взять датасет из google диска: https://drive.google.com/file/d/1MpWBFIbqu4mbiD0BBKYX6YhS-f4mN3Z_. Проверить гипотезу о том, в каком варианте теста (control/personalization) больше конверсия (converted) и значимо ли это отличие статистически.

In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats import proportion

In [3]:
marketing_campaign = pd.read_csv('C:/Users/flath/Desktop/Ml.b/marketing_campaign.csv')
marketing_campaign

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True
10033,a11033,1/17/18,Email,control,German,True
10034,a11034,1/5/18,Instagram,control,German,False
10035,a11035,1/17/18,Email,control,German,True
10036,a11036,1/6/18,Facebook,control,German,False

In [4]:
marketing_campaign.variant.value_counts()

control            5091
personalization    4946
Name: variant, dtype: int64

In [5]:
marketing_campaign.converted.value_counts()

False    8946
True     1076
Name: converted, dtype: int64

In [9]:
marketing_campaign.dropna(inplace=True)

In [10]:
marketing_campaign = marketing_campaign.astype({'converted': 'int32'})

In [11]:
marketing_campaign.groupby('variant')['converted'].describe()

                  count      mean       std  min  25%  50%  75%  max
variant
control          5076.0  0.073089  0.260308  0.0  0.0  0.0  0.0  1.0
personalization  4945.0  0.142568  0.349667  0.0  0.0  0.0  0.0  1.0

In [12]:
k1 = marketing_campaign[marketing_campaign['variant']=='control']['converted'].sum()
n1 = marketing_campaign[marketing_campaign['variant']=='control'].shape[0]
k2 = marketing_campaign[marketing_campaign['variant']=='personalization']['converted'].sum()
n2 = marketing_campaign[marketing_campaign['variant']=='personalization'].shape[0]

In [13]:
z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]), 
                                                 np.array([n1, n2]))

print(f'Results are z_score={z_score:.3f} pvalue={z_pvalue:.3f}')

Results are z_score=-11.232 pvalue=0.000

pvalue < 5% ,Значит мы оклоняем нулевую гипотизубстатистически не значимо

##### Хи-Квадрат

In [15]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([k1, k2]), 
                                                        np.array([n1, n2]))

print(f'Results are chisq={chisq:.3f} pvalue={pvalue:.3f}')

Results are chisq=126.158 pvalue=0.000

pvalue < 5% ,Значит мы оклоняем нулевую гипотизубстатистически не значимо